#sobre_text {
    margin-top: 14px;
    color: var(--gray);
    font-size: 14px;
    line-height: 19.6px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 56px;
}

#sobre_nav {
    display: grid;
    grid: repeat(2, auto) / auto-flow auto;
    gap: 45.17px;
}

.sobre_nav_item {
    text-align: center;
}

.sobre_nav_item:hover {
    scale: 1.1;
}

.sobre_nav_bg {
    background-color: var(--gray-400);
    border-radius: 50%;
    height: 32px;
    width: 32px;
    padding: 13px;
    display: inline-block;
    margin-bottom: 14.09px;
}

#github_icon {
    content: url(../img/github.svg);
}

#linkedin_icon {
    content: url(../img/linkedin-square.svg);
}

#instagram_icon {
    content: url(../img/instagram.svg)
}

#phone_icon {
    content: url(../img/phone-telephone.svg)
}

@media screen and (min-width: 600px) {

    #sobre_text {
        width: 80%;
        font-size: 18px;
        line-height: 32px;
        margin: 30px auto 85px;
    }
}

@media screen and (min-width: 900px) {
    #sobre_nav {
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin: auto;
    }
}